---
import InkStrip from './InkStrip.astro';
---
<footer class="bg-paper border-t-4 border-ink-black px-8 py-16">
  <div class="max-w-[1440px] mx-auto grid grid-cols-12 gap-6 font-mono text-sm">
    <div class="col-span-12 md:col-span-4">
      <span class="text-ink-red">⊕ COLOPHON</span>
      <p class="mt-4">Set in Tusker Grotesk + JetBrains Mono.<br/>Printed on screen, Hong Kong, 2026.</p>
    </div>
    <div class="col-span-6 md:col-span-3">
      <span class="text-ink-red">CONTACT</span>
      <p class="mt-4"><a href="mailto:nano122090@gmail.com" class="underline">nano122090@gmail.com</a></p>
    </div>
    <div class="col-span-6 md:col-span-3">
      <span class="text-ink-red">CODE</span>
      <p class="mt-4"><a href="https://github.com/888wing/888wing-studio" class="underline">github.com/888wing/888wing-studio</a></p>
    </div>
    <div class="col-span-12 md:col-span-2 text-right">
      <span class="text-ink-red">⊕</span>
      <p class="mt-4 text-xs">v0.1<br/>2026.05</p>
    </div>
  </div>
  <InkStrip />
</footer>
